<div class="row-fluid">
  <h3> [% produto.descr %] </h3>
  <br/>
  <hr>
  <div class="span8">
    <p>
     <b class="title">Preço:</b> R$ [% produto.preco %]
    </p>
    <p>
     <b class="title">Quantidade:</b> [% produto.quant %]
    </p>
    <br />
  </div>
</div>
<hr>
