<div class="row-fluid">
  <h3> [% produto.descr %] </h3>
  <br/>
  <hr>
    <table border=1 class="queryTable">
      <tbody>
        <tr>
          <td><b>Preço:</b></td> 
          <td>R$ [% produto.preco %]</td>
        </tr>
        <tr>
          <td><b>Quantidade:</b></td> 
          <td>[% produto.quant %]</td>
        </tr>
      </tbody>
    </table>
    <br />
</div>
<hr>
<br/>
<button onclick="window.print ()">Imprimir</button>
