<div class="row-fluid">
  <h3> Dados do produto: </h3>
  <br/>
  <br/>
  <div class="span8">
    <p>
     <b class="title">Descrição:</b> [% produto.descr %]
    </p>
    <p>
     <b class="title">Preço:</b> [% produto.preco %]
    </p>
    <p>
     <b class="title">Quantidade:</b> [% produto.quant %]
    </p>
    <br />
  </div>
</div>

<hr>

<p><a class="btn btn-primary" href="[% c.uri_for('') %]">Listar produtos</a></p>
