[% META title = 'Tecnicopias Gráfica e Editora LTDA' %]
<div>
<h1>Tecnicopias Grafica e Editora LTDA</h1>
<h3>Para acessar o sistema, selecione um dos módulos abaixo:</h3>
<ul>
  <li><a href="pedidos">Pedidos</a></li>
  <li><a href="estoque">Estoque</a></li>
  <li><a href="clientes">Clientes</a></li>
</ul>

</div>
